{% extends 'base.html' %}

{% block title %} My Workstation! {% endblock %}


{% block body %} 


<img src="static\images\setup.jpg" alt="battlestation" class="responsive">


<h2 class="responsive">What Will Go Back To Normal</h2>

<p class="responsive">
    Going back to normal, people will go out with friends and family again. Mostly this will be because restrictions
    will be lifted, but also people will not feel bad about potentially spreading disease. Additionally, being locked
    in for a while has made people appreciate their freedom and not take it for granted. Schools will go back to normal.
    Teaching school to little kids was frusterating enough before it went virtual. School will always be something 
    taught in person.
</p>

<h2 class="responsive">What Sill Stay the Same</h2>

<p class="responsive">
    The "new normal" is certainly true. Due to COVID people in America will likely
    continue wearing masks. People are realizing it is not that hard to do an dramatically
    reduces the chance of spreading disease. It will be another step in advanced society
    similar to basic sanitation like washing hands. Working from home will become
    a new normal as well. Companies were already transfering to employees working from 
    home if possible. With recent innovations in working from home technology, companies will
    be more likely to adapt these changes permanently.
</p>




{% endblock %}